
<% if @stock %>
<div class="card col-3 bg-light">
<div class="card-body row p-2">
  <p class="card-text font-weight-bold">Symbol: </p> <%= @stock.ticker %>
</div>
<div class="card-body row p-2">
  <p class="card-text font-weight-bold">Name: </p><%= @stock.name %>
</div>
<div class="card-body row p-2">
<p class="card-text font-weight-bold">Last Price: </p><%= @stock.last_price %>
</div>

</div>
<% else %>
<div class="col-3 p-0">
  <%= render "layouts/messages.html.erb"%>
</div>

<% end %>
